<!doctype html>
<html lang="th" ng-app="Lenkyun">
<head>
	<title>Lenkyun.ME</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1.0, user-scalable=yes">
	<meta name="mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<!-- bower:js -->
	<!-- endbower -->
	<!-- bower:css -->
	<!-- endbower -->
	<!-- Polymer -->
	<link rel="stylesheet" href="../bower_components/angular-material/themes/teal-theme.css">
	<script src="../bower_components/webcomponentsjs/webcomponents.js"></script>
	<link rel="import" href="../bower_components/polymer/polymer.html">
	<link rel="import" href="../bower_components/paper-fab/paper-fab.html">
	<link rel="import" href="../bower_components/paper-icon-button/paper-icon-button.html">
	<link rel="import" href="../bower_components/paper-button/paper-button.html">
	<link rel="import" href="../bower_components/paper-input/paper-input.html">
	<link rel="import" href="../bower_components/font-roboto/roboto.html">
	<!-- Mine -->
	<script src="../bower_components/angular-route/angular-route.min.js"></script>
	<link rel="stylesheet" href="temp/main.css">
</head>
<body layout="vertical" ng-controller="WebController as web">
	<script src="temp/main.js"></script>
	<md-content id="toolbar" md-theme="no">
		<md-toolbar layout="horizontal" class="md-whiteframe-z1">
			<nav class="md-toolbar-tools wrap" class="md-whiteframe-z1" id="title-wrap">
				<h1 id="title">LENKYUN<span id="title-tld">.ME</span></h1>
				<div id="menu-spacer" flex></div>
				<nav id="menu-toolbar" layout-align="center center" layout="horizontal">
					<div class="wrap" id="md-toolbar-tools menu-toolbar-wrap" layout-align="center center" hide show-sm flex>
						<div ng-repeat-start="item in menu.items" ng-bind-="item.contentSwitch" ng-show="item.showSwitch"></div>
						<md-button ng-repeat-end class="menu-item" ng-click="item.func($event)"><span ng-bind="item.name"></span></md-button>
					</div>
				</nav>
				<md-button id="menu-button">
					<core-icon icon="menu" ng-click=""></core-icon>
				</md-button>
			</nav>
		</md-toolbar>
		<content id="content" ng-view>
			<div aria-label="Sign up" layout="horizontal" layout-align="center" class="dialog-signup">
				<div class="wrap" id="register-dialog" layout="vertical" layout-align="center center" >
					<h2>Create Account</h2>
					<form ng-submit="registration()" layout="vertical" layout-align="center center" >
						<paper-input aria-label="username" label="Username"></paper-input>
						<paper-input aria-label="nickname" label="Nickname"></paper-input>
						<paper-input-decorator aria-label="password" label="Password">
							<input type="password"/>
						</paper-input-decorator>
						<paper-input-decorator aria-label="re-password" label="Re-enter" >
							<input type="password"/>
						</paper-input-decorator>
					</form>
				</div>
			</div>
		</content>
		<footer id="footer" ng-include="content.footage"></footer>
	</md-content>
</body>
</html>	